@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #afaeae;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: #2f3333;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.elevation-1 {
  background-color: #1e1e1e;
}

.glass {
  inset: 0;
  --extend-by: 110px;
  bottom: calc(-1 * var(--extend-by));
  --cutoff: calc(100% - var(--extend-by));
  -mask-image: linear-gradient(
    to bottom,
    #161616 0,
    #161616 var(--cutoff) transparent var(--cutoff)
  );
  --blur: 20px;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
}
