@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #2f3333;
  font-size: 18px;
}

@media (prefers-color-scheme: light) {
  * {
    border-color: #afaeae;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.bg-elevation-1 {
  background-color: #1e1e1e;
}

/* .link {
  color: royalblue;
}
 */
