@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #2f3333;
}

@media (prefers-color-scheme: light) {
  * {
    border-color: #afaeae;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

/* .link {
  color: royalblue;
}
 */
